<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>TITLE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="static/css/bootstrap.css" rel="stylesheet">

	<link href="static/css/ionicons.css" rel="stylesheet">

	<link href="static/css/layerslider.css" rel="stylesheet">


	<link href="static/css/index-styles.css" rel="stylesheet">

	<link href="static/css/index-responsive.css" rel="stylesheet">

</head>
<body>
	<header>
		<div class="middle-menu center-text"><a href="" class="logo"><img src="static/images/strohblog.jpg" alt="Logo Image"></a></div>
		<div class="bottom-area">
			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>
			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="/">HOME</a></li>
				<li><a href="/career">THE PROFESSIONAL</a></li>
				<li><a href="/hobbies">THE ARTISAN</a></li>
				<li><a href="/travel">THE EXPLORER</a></li>
			</ul><!-- main-menu -->
		</div><!-- container -->
	</header>

	<div class="main-slider">
		<div id="slider">

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<img src="static/images/iphone-notebook-pen-working-34088.jpg" class="ls-bg" alt="" />

			</div><!-- ls-slide -->

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<img src="static/images/kyle-hanson-1pyqUh8Jx3E-unsplash.jpg" class="ls-bg" alt="" />
					<div class="slider-content ls-l" style="top:20%; left:65%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
						<a class="btn" href="">BLOG</a>
						<h5 class="title"><b>Teach an <br> Old Dog <br>New Code</b></h5>
					</div>
				</div><!-- ls-slide -->
			
		</div><!-- slider -->
	</div><!-- main-slider -->

<section class="section blog-area">
	<div class="container">
		<div class="row">

			<div class="col-lg-8 col-md-8">
				<div class="blog-posts">

					<div class="single-post">
						<!-- <div class="image-wrapper"><img src="static/images/yellow.jpg" alt="Blog Image"></div> -->
						<!-- <h6 class="date" style="color: #555 ; line-height: 2"><em>Monday, October 13, 2017</em></h6> -->
						<h3 class="title" style="line-height: 15px; text-align: center"><a href=""><b class="light-color">Career Profile</b></a></h3>
						<p style='padding-bottom: 20px; text-align: center; font-style: italic; font-size: 18px;'> Home to information and links related to my work experience   </p>
						<!-- <a class="btn read-more-btn" href="#"><b>'GIT' MORE</b></a> -->
						<a class="btn caegory-btn" href="/resume"><b>MY RESUME</b></a>
						<a class="btn caegory-btn" href="https://www.linkedin.com/in/kelly-stroh"><b>LINKED IN</b></a>
						<a class="btn caegory-btn" href="#my-bio"><b>MY BACKGROUND</b></a>
					</div><!-- single-post -->

					<!-- <div class="single-post"> -->
							<!-- <div class="image-wrapper"><img src="static/images/alaska2.jpg" alt="Blog Image"></div>
							<h6 class="date" style="color: #555 ; line-height: 2"><em>Monday, October 13, 2017</em></h6>
							<h3 class="title"><a href="#"><b class="light-color">ABOUT ME</b></a></h3>
							<p style='padding-bottom: 15px;'> Hello </p> -->
							<!-- <a class="btn read-more-btn" href="#"><b>'GIT' MORE</b></a> -->
					<!-- </div> -->

					<div class="row">

						<div class="col-lg-6 col-md-6">
							<div class="single-post">
								<div class="image-wrapper"><img src="static/images/github-uni.jpg" alt="Blog Image"></div>
								<!-- <h6 class="date" style="color: #555 ; line-height: 2"><em>Monday, October 13, 2017</em></h6> -->
								<h3 class="title"><a href="https://github.com/kellystroh"><b class="light-color">Coding Samples</b></a></h3>
								<p> The links in this section will take you to GitHub repositories for
									some of my data science work. 
									As I continue developing my webpage, I will post more elaborate
									descriptions of projects here.
								</p>
								<a class="btn read-more-btn" href="https://github.com/kellystroh"><b>'GIT' MORE</b></a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="single-post">
								<div class="image-wrapper"><img src="static/images/clothes.jpg" alt="Blog Image"></div>
								<!-- <h6 class="date" style="color: #555 ; line-height: 2"><em>Monday, October 13, 2017</em></h6> -->
								<h3 class="title"><a href="https://github.com/kellystroh/Inventory-Image-Classification"><b class="light-color">Taking Stock</b></a></h3>
								<p>I used convolutional neural networks to categorize inventory images into product groups, 
									resulting in a handy tool to streamline online inventory systems. I also used clustering 
									to group images of similar items and dimension reduction to visualize the variety of 
									products within categories and sub-categories. </p>
								<a class="btn read-more-btn" href="https://github.com/kellystroh/Inventory-Image-Classification"><b>'GIT' MORE</b></a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="single-post">
								<div class="image-wrapper"><img src="static/images/fraud.jpg" alt="Blog Image"></div>
								<!-- <h6 class="date" style="color: #555 ; line-height: 2"><em>Monday, October 13, 2017</em></h6> -->
								<h3 class="title"><a href="https://github.com/kellystroh/Fraud_Detection_Classifier"><b class="light-color">Outfox a Fraud</b></a></h3>
								<p>I built a model for identifying fraudulent events posted to an online ticket vendor. I 
									engineered features to extract quantitative data from text. I compared model performance 
									across random forest, logistic regression, and gradient boosting models, using hyperparameter 
									tuning for optimization. </p>
								<a class="btn read-more-btn" href="https://github.com/kellystroh/Fraud_Detection_Classifier"><b>'GIT' MORE</b></a>
							</div>
						</div>

						<div class="col-lg-6 col-md-6">
							<div class="single-post">
								<div class="image-wrapper"><img src="static/images/vote.jpg" alt="Blog Image"></div>
								<!-- <h6 class="date" style="color: #555 ; line-height: 2"><em>Monday, October 13, 2017</em></h6> -->
								<h3 class="title"><a href="https://github.com/kellystroh/Congressional_Campaign_Spending"><b class="light-color">Elections for Sale?</b></a></h3>
								<p>I examined the correlation of campaign spending and election results using regression analysis. 
									To minimize external sources of variation, I focus specifically on instances of rematches 
									between the same two candidates for U.S. House seats.</p>
								<a class="btn read-more-btn" href="https://github.com/kellystroh/Congressional_Campaign_Spending"><b>'GIT' MORE</b></a>
							</div><!-- single-post -->
						</div><!-- col-sm-6 -->
					</div><!-- row -->

				</div><!-- blog-posts -->
			</div><!-- col-lg-4 -->


			<div class="col-lg-4 col-md-4">
				<div class="sidebar-area">

					<div class="sidebar-section about-author center-text">
						<div class="author-image" id='my-bio'><img src="static/images/kelly-luna.jpg" alt="Author Image"></div>
							<ul class="social-icons">
								<li><a href="https://github.com/kellystroh"><i class="ion-social-github-outline"></i></a></li>
								<li><a href="https://www.linkedin.com/in/kelly-stroh"><i class="ion-social-linkedin-outline"></i></a></li>
								<li><a href="https://twitter.com/str0hberry"><i class="ion-social-twitter-outline"></i></a></li>
								<li><a href="https://www.instagram.com/strohb3rry/"><i class="ion-social-instagram-outline"></i></a></li>
								<li><a href="https://www.pinterest.com/strohski3/"><i class="ion-social-pinterest-outline"></i></a></li>
							</ul><!-- right-area -->
						<h4 class="author-name"><b class="light-color">Kelly Stroh</b></h4>
						<p> I have a degree in Economics and Environmental Studies from the University of Edinburgh.
							I always had an aptitude for math, but it wasn't until studying statistics that found a passion
							for it. I love analytics and applying statistics to address tangible business needs. I spent
							several years applying my analytical skills in the environmental field, which is another of my 
							interests. Whenever possible in my two previous positions, I helped develop tools and strategies 
							to optimize collection and analysis of program data. When I left my last job, I knew I wanted to 
							find a new intellectual challenge. I ultimately decided to prioritize my passion for data and 
							enhance my skills in programming and machine learning through the Data Science Immersive program 
							at Galvanize. My experience with project management has prepared me to anticipate needs, fill o
							perational gaps, and coordinate logistics. I became proficient in writing technical reports and 
							presenting complex concepts to diverse audiences. I am excited to devote my talents to a data-centric role. </p>
						<!-- <a class="read-more-link" href="#"><b>RESUME</b></a> -->
					</div>
					<!-- <div class="sidebar-section category-area">
						<h4 class="title" id="my_code"><b class="light-color">Code Samples</b></h4>
						<a class="category" href="https://github.com/kellystroh">
								<img src="static/images/github-sidebar.jpg" alt="Category Image">
								<h6 class="name">Main GitHub</h6>
						</a>
						<a class="category" href="https://github.com/kellystroh/Inventory-Image-Classification">
								<img src="static/images/clothes-sidebar.jpg" alt="Category Image">
								<h6 class="name">Inventory Image Classifier</h6>
						</a>
						<a class="category" href="https://github.com/kellystroh/Fraud_Detection_Classifier">
								<img src="static/images/fraud-sidebar.jpg" alt="Category Image">
								<h6 class="name">Fraud Detection Classifier</h6>
						</a>
						<a class="category" href="https://github.com/kellystroh/Congressional_Campaign_Spending">
							<img src="static/images/vote-sidebar.jpg" alt="Category Image">
							<h6 class="name">Campaign Spending Regression</h6>
						</a> -->
					</div><!-- sidebar-section category-area -->
				</div>
			</div>
			

		</div><!-- row -->
	</div><!-- container -->
</section><!-- section -->


	<footer>
		<div class="container">
			<div class="row">

				<div class="col-sm-6">
					<div class="footer-section">
						<p class="copyright">Juli &copy; 2018. All rights reserved. | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-sm-6">
					<div class="footer-section">
						<ul class="social-icons">
							<li><a href="https://github.com/kellystroh"><i class="ion-social-github-outline"></i></a></li>
							<li><a href="https://www.linkedin.com/in/kelly-stroh"><i class="ion-social-linkedin-outline"></i></a></li>
							<li><a href="https://twitter.com/str0hberry"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="https://www.instagram.com/strohb3rry/"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="https://www.pinterest.com/strohski3/"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="static/js/jquery-3.1.1.min.js"></script>

	<script src="static/js/tether.min.js"></script>

	<script src="static/js/bootstrap.js"></script>

	<script src="static/js/layerslider.js"></script>

	<script src="static/js/scripts.js"></script>

</body>
</html>
