<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>TITLE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="static/css/bootstrap.css" rel="stylesheet">

	<link href="static/css/ionicons.css" rel="stylesheet">

	<link href="static/css/layerslider.css" rel="stylesheet">


	<link href="static/css/index-styles.css" rel="stylesheet">

	<link href="static/css/index-responsive.css" rel="stylesheet">

    <style>
        * {
        box-sizing: border-box;
        }

        span {background-color:#FFAD4D;  color:white; padding: 10px 30px; box-shadow: 0px 2px 10px rgba(0,0,0, .3);}

        .roww {
        display: -ms-flexbox; /* IE 10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE 10 */
        flex-wrap: wrap;
        padding: 10px 50px;
        padding-bottom: 30px;
        }

        /* Create two equal columns that sits next to each other */
        .column {
        -ms-flex: 25%; /* IE 10 */
        flex: 25%;
        padding: 0 4px;
        }

        .column img {
        margin-top: 8px;
        vertical-align: middle;
        }

        /* Style the buttons */
        .bttn {
        border: none;
        outline: none;
        padding: 10px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
        font-size: 18px;
        }

        .bttn:hover {
        background-color: #ddd;
        }

        .bttn.active {
        background-color: #666;
        color: white;
        }
    </style>

</head>
<body style='background-color:gray'>
	<header>
		<div class="middle-menu center-text"><a href="#" class="logo"><img src="static/images/strohblog.jpg" alt="Logo Image"></a></div>
		<div class="bottom-area">
			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>
			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="/">HOME</a></li>
				<li><a href="/career">THE PROFESSIONAL</a></li>
				<li><a href="/hobbies">THE ARTISAN</a></li>
				<li><a href="/explore">THE EXPLORER</a></li>
			</ul><!-- main-menu -->
		</div><!-- container -->
	</header>

	
            <div class="title" id='myHeader' style='margin-top: 245px; position: relative; text-align: center;'>
                    <h3><span>Crochet Image Gallery</span></h3>
                    <!-- <p style="padding: 10px">Click on the buttons to change the grid view.</p>
                    <button class="bttn" onclick="one()">1</button>
                    <button class="bttn active" onclick="two()">2</button>
                    <button class="bttn" onclick="four()">4</button> -->
            </div>                 
            <div class="roww"> 
                <div class="column">
                    <img src="static/images/craft/crochet_husky.jpg" style="width:100%">
                    <img src="static/images/craft/crochet_hula.jpg" style="width:100%">
                </div>
                <div class="column">
                        <img src="static/images/craft/crochet_lion.jpg" style="width:100%">
                        <img src="static/images/craft/model7.jpg" style="width:100%">
                </div>
                <div class="column">
                    <img src="static/images/craft/crochet_pickles.jpg" style="width:100%">
                    <img src="static/images/craft/model5.png" style="width:100%">
                </div>  
                <div class="column">
                    <img src="static/images/craft/crochet_taffy.JPG" style="width:100%">
                    <img src="static/images/craft/model3.png" style="width:100%">
                </div>
            </div>


            
                  
                  <script>
                  // Get the elements with class="column"
                  var elements = document.getElementsByClassName("column");
                  
                  // // Declare a loop variable
                  // var i;
                  
                  // // Full-width images
                  // function one() {
                  //     for (i = 0; i < elements.length; i++) {
                  //     elements[i].style.msFlex = "100%";  // IE10
                  //     elements[i].style.flex = "100%";
                  //   }
                  // }
                  
                  // // Two images side by side
                  // function two() {
                  //   for (i = 0; i < elements.length; i++) {
                  //     elements[i].style.msFlex = "50%";  // IE10
                  //     elements[i].style.flex = "50%";
                  //   }
                  // }
                  
                  // Four images side by side
                  function four() {
                    for (i = 0; i < elements.length; i++) {
                      elements[i].style.msFlex = "25%";  // IE10
                      elements[i].style.flex = "25%";
                    }
                  }
                  
                  // Add active class to the current button (highlight it)
                  var header = document.getElementById("myHeader");
                  var bttns = header.getElementsByClassName("bttn");
                  for (var i = 0; i < bttns.length; i++) {
                    bttns[i].addEventListener("click", function() {
                      var current = document.getElementsByClassName("active");
                      current[0].className = current[0].className.replace(" active", "");
                      this.className += " active";
                    });
                  }
                  </script>
        </div>
	

    
			

		</div><!-- row -->
	</div><!-- container -->
</section><!-- section -->


	<footer>
		<div class="container">
			<div class="row">

				<div class="col-sm-6">
					<div class="footer-section">
						<p class="copyright">Juli &copy; 2018. All rights reserved. | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-sm-6">
					<div class="footer-section">
						<ul class="social-icons">
							<li><a href="https://github.com/kellystroh"><i class="ion-social-github-outline"></i></a></li>
							<li><a href="https://www.linkedin.com/in/kelly-stroh"><i class="ion-social-linkedin-outline"></i></a></li>
							<li><a href="https://twitter.com/str0hberry"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="https://www.instagram.com/strohb3rry/"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="https://www.pinterest.com/strohski3/"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="static/js/jquery-3.1.1.min.js"></script>

	<script src="static/js/tether.min.js"></script>

	<script src="static/js/bootstrap.js"></script>

	<script src="static/js/layerslider.js"></script>

	<script src="static/js/scripts.js"></script>

</body>
</html>
