<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>TITLE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="static/css/bootstrap.css" rel="stylesheet">
	<link href="static/css/ionicons.css" rel="stylesheet">
	<link href="static/css/layerslider.css" rel="stylesheet">
	<link href="static/css/index-styles.css" rel="stylesheet">
	<link href="static/css/index-responsive.css" rel="stylesheet">

    <style>
        * {
        box-sizing: border-box;
        }

        span {background-color:#FFAD4D;  color:white; padding: 10px 30px; box-shadow: 0px 2px 10px rgba(0,0,0, .3);}

        .roww {
        display: -ms-flexbox; /* IE 10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE 10 */
        flex-wrap: wrap;
        padding: 25px 60px;
        padding-bottom: 30px;
        }

        /* Create two equal columns that sits next to each other */
        .column {
        -ms-flex: 25%; /* IE 10 */
        flex: 25%;
        padding: 0 4px;
        }

        .column img {
        margin-top: 8px;
        vertical-align: middle;
        }

        /* Style the buttons */
        .bttn {
        border: none;
        outline: none;
        padding: 10px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
        font-size: 18px;
        }

        .bttn:hover {
        background-color: #ddd;
        }

        .bttn.active {
        background-color: #666;
        color: white;
        }
    </style>

</head>
<body style="background-color:gray">
	<header>
		<div class="middle-menu center-text"><a href="#" class="logo"><img src="static/images/strohblog.jpg" alt="Logo Image"></a></div>
		<div class="bottom-area">
			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>
			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="/">HOME</a></li>
				<li><a href="/career">THE PROFESSIONAL</a></li>
				<li><a href="/hobbies">THE ARTISAN</a></li>
				<li><a href="/explore">THE EXPLORER</a></li>
			</ul><!-- main-menu -->
		</div><!-- container -->
	</header>
  <div class="title" id='myHeader' style='margin-top: 245px; position: relative; text-align: center;'>
          <h3><span>Embroidery Image Gallery</span></h3>
          <!-- <p style="padding: 10px">Click on the buttons to change the grid view.</p>
          <button class="bttn" onclick="one()">1</button>
          <button class="bttn active" onclick="two()">2</button>
          <button class="bttn" onclick="four()">4</button> -->
  </div>                 
  <div class="roww"> 
    <div class="column">
      <img src="static/images/craft/hoop6.jpg" style="width:100%">
      <img src="static/images/craft/model10.png" style="width:100%"> 
      <img src="static/images/craft/towel6.png" style="width:100%">  
      <img src="static/images/craft/bib_zoom1.jpg" style="width:100%">
      <img src="static/images/craft/bag2.jpg" style="width:100%">
      <img src="static/images/craft/bib10.png" style="width:100%">
      <img src="static/images/craft/bloomers1.jpg" style="width:100%">
      <img src="static/images/craft/towel3.jpg" style="width:100%">
      <img src="static/images/craft/bib11.jpg" style="width:100%">
      <img src="static/images/craft/hoop8.jpg" style="width:100%">   
      <img src="static/images/craft/robe2.jpg" style="width:100%">  
      <img src="static/images/craft/hoop7.jpg" style="width:100%">
      <img src="static/images/craft/towel7.png" style="width:100%"> 
      <img src="static/images/craft/bib13.jpg" style="width:100%"> 
      <img src="static/images/craft/hoop5.jpg" style="width:100%">         
    </div>
    <div class="column">
      <img src="static/images/craft/stocking2.png" style="width:100%">  
      <img src="static/images/craft/towel1.jpg" style="width:100%"> 
      <img src="static/images/craft/bib8.jpg" style="width:100%">
      <img src="static/images/craft/bag5.jpg" style="width:100%">
      <img src="static/images/craft/hoop4.jpg" style="width:100%">
      <img src="static/images/craft/IMG_2994.jpg" style="width:100%">  
      <img src="static/images/craft/onesie8.jpg" style="width:100%"> 
      <img src="static/images/craft/robe1.jpg" style="width:100%">
      <img src="static/images/craft/bib_zoom3.jpg" style="width:100%">
      <img src="static/images/craft/stocking1.jpg" style="width:100%">
      <img src="static/images/craft/bib14.jpg" style="width:100%"> 
      <img src="static/images/craft/hoop_13.jpg" style="width:100%">
      <img src="static/images/craft/bib5.jpg" style="width:100%">  
      <img src="static/images/craft/bib9.jpg" style="width:100%">
      <img src="static/images/craft/bib_zoom2.jpg" style="width:100%">         
    </div>
    <div class="column">
      <img src="static/images/craft/hoop2.jpg" style="width:100%">
      <img src="static/images/craft/magic_carpet.jpg" style="width:100%">  
      <img src="static/images/craft/onesie7.jpg" style="width:100%">  
      <img src="static/images/craft/hoop9.jpg" style="width:100%">
      <img src="static/images/craft/model9.png" style="width:100%">  
      <img src="static/images/craft/bib4.jpg" style="width:100%">
      <img src="static/images/craft/robe3.jpg" style="width:100%">    
      <img src="static/images/craft/towel4.jpg" style="width:100%">      
      <img src="static/images/craft/bag3.jpg" style="width:100%">
      <img src="static/images/craft/towel8.jpg" style="width:100%">  
      <img src="static/images/craft/bib5.jpg" style="width:100%">  
      <img src="static/images/craft/hoop_14.jpg" style="width:100%">
      <img src="static/images/craft/bib12.png" style="width:100%">
      <img src="static/images/craft/hoop3.jpg" style="width:100%">  
      <img src="static/images/craft/bib_zoom6.png" style="width:100%">       
      <img src="static/images/craft/bib6.jpg" style="width:100%">  
    </div>  
    <div class="column">
      <img src="static/images/craft/bib_zoom5.jpg" style="width:100%">
      <img src="static/images/craft/bib1.png" style="width:100%">
      <img src="static/images/craft/towel5.jpg" style="width:100%">  
      <img src="static/images/craft/hoop_10.jpg" style="width:100%">
      <img src="static/images/craft/bib2.jpg" style="width:100%">
      <img src="static/images/craft/robe4.png" style="width:100%">    
      <img src="static/images/craft/towel2.jpg" style="width:100%"> 
      <img src="static/images/craft/hoop_11.jpg" style="width:100%">
      <img src="static/images/craft/model8.png" style="width:100%"> 
      <img src="static/images/craft/bloomers14.jpg" style="width:100%"> 
      <img src="static/images/craft/hoop_12.jpg" style="width:100%"> 
      <img src="static/images/craft/bib7.jpg" style="width:100%"> 
      <img src="static/images/craft/bib_zoom4.jpg" style="width:100%">  
      <img src="static/images/craft/hoop1.jpg" style="width:100%">
      <img src="static/images/craft/bag4.jpg" style="width:100%">    
    </div>
  </div> 

	<footer>
		<div class="container">
			<div class="row">

				<div class="col-sm-6">
					<div class="footer-section">
						<p class="copyright">Juli &copy; 2018. All rights reserved. | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-sm-6">
					<div class="footer-section">
						<ul class="social-icons">
							<li><a href="https://github.com/kellystroh"><i class="ion-social-github-outline"></i></a></li>
							<li><a href="https://www.linkedin.com/in/kelly-stroh"><i class="ion-social-linkedin-outline"></i></a></li>
							<li><a href="https://twitter.com/str0hberry"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="https://www.instagram.com/strohb3rry/"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="https://www.pinterest.com/strohski3/"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="static/js/jquery-3.1.1.min.js"></script>
	<script src="static/js/tether.min.js"></script>
	<script src="static/js/bootstrap.js"></script>
	<script src="static/js/layerslider.js"></script>
	<script src="static/js/scripts.js"></script>

</body>
</html>


