<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>TITLE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="static/css/bootstrap.css" rel="stylesheet">

	<link href="static/css/ionicons.css" rel="stylesheet">

	<link href="static/css/layerslider.css" rel="stylesheet">


	<link href="static/css/index-styles.css" rel="stylesheet">

	<link href="static/css/index-responsive.css" rel="stylesheet">

</head>
<body>
	<header>
		<div class="middle-menu center-text"><a href="" class="logo"><img src="static/images/strohblog.jpg" alt="Logo Image"></a></div>
		<div class="bottom-area">
			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>
			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="/">HOME</a></li>
				<li><a href="/career">THE PROFESSIONAL</a></li>
				<li><a href="/hobbies">THE ARTISAN</a></li>
				<li><a href="/travel">THE EXPLORER</a></li>
			</ul><!-- main-menu -->
		</div><!-- container -->
	</header>

	<div class="main-slider">
		<div id="slider">

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<img src="static/images/craft/garland1.jpg" class="ls-bg" alt="" />

			</div><!-- ls-slide -->

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<img src="static/images/craft/shower_sew.jpg" class="ls-bg" alt="" />
					<!-- <div class="slider-content ls-l" style="top:20%; left:65%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
						<a class="btn" href="#">BLOG</a>
						<h3 class="title"><b>Teach an <br> Old Dog <br>New Code</b></h3>
					</div> -->
				</div><!-- ls-slide -->
			
		</div><!-- slider -->
	</div><!-- main-slider -->

<section class="section blog-area">
	<div class="container">
		<div class="row">

			<div class="col-lg-8 col-md-8">
				<div class="blog-posts">

					<div class="row">

						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="single-post">
								<h3 class="title" style="text-align: center;"><a href="/hobbies_sewing"><b class="light-color">Sewing</b></a></h3>
								<div class="image-wrapper"><img src="static/images/craft/dress3.jpg" alt="Blog Image"></div>
								<!-- <p> An essential life skill for those of us who must hem our clothing to suit our short statures.  -->
								</p>
								<!-- <a class="btn read-more-btn" href=""><b>'GIT' MORE</b></a> -->
							</div>
						</div>
					
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="single-post">
								<h3 class="title" style="text-align: center;"><a href="/hobbies_crochet"><b class="light-color">Crochet</b></a></h3>
								<div class="image-wrapper"><img src="static/images/craft/crochet_lion.jpg" alt="Blog Image"></div>
								<!-- <p>I taught myself to crochet in college to better enjoy the 8-10 hours of flight between Seattle to Edinburgh. </p> -->
								<!-- <a class="btn read-more-btn" href="https://github.com/kellystroh/Inventory-Image-Classification"><b>'GIT' MORE</b></a> -->
							</div>
						</div>
					</div><!-- row -->
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="single-post">
								<h3 class="title" style="text-align: center;"><a href="/hobbies_embroidery"><b class="light-color">Embroidery</b></a></h3>
								<div class="image-wrapper"><img src="static/images/craft/bib5.jpg" alt="Blog Image"></div>
								<!-- <p> Machine embroidery is basically magic. </p> -->
								<!-- <a class="btn read-more-btn" href=""><b>SEE MORE</b></a> -->
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="single-post">
								<h3 class="title" style="text-align: center;"><a href="/hobbies_vinyl"><b class="light-color">Vinyl</b></a></h3>
								<div class="image-wrapper"><img src="static/images/craft/tee_rhino.jpg" alt="Blog Image"></div>
								<!-- <p>I was playing on 4 adult soccer teams, each with it's own color (green, black, yellow, orange), when I decided
									I spent too much time in sports tees to allow them to be boring. 
								</p> -->
								<!-- <a class="btn read-more-btn" href=""><b>SEE MORE</b></a> -->
							</div><!-- single-post -->
						</div><!-- col-sm-6 -->
					</div><!-- row -->
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="single-post">
								<h3 class="title" style="text-align: center;"><a href="/hobbies_baking"><b class="light-color">Baking</b></a></h3>
								<div class="image-wrapper"><img src="static/images/craft/cookies2.jpg" alt="Blog Image"></div>
								<!-- <p> "Nom nom nom" is my only explanation. </p> -->
								<!-- <a class="btn read-more-btn" href=""><b>SEE MORE</b></a> -->
							</div>
						</div>
				
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="single-post">
								<h3 class="title" style="text-align: center;"><a href="/hobbies_misc"><b class="light-color">Miscellany</b></a></h3>
								<div class="image-wrapper"><img src="static/images/craft/cornhole3.jpg" alt="Blog Image"></div>
								<!-- <p> "Nom nom nom" is my only explanation. </p> -->
							</div><!-- single post -->
						</div><!-- col-lg-4 -->
					</div><!-- row -->
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="sidebar-area">

					<div class="sidebar-section about-author center-text">
						<div class="author-image" id='my-bio'><img src="static/images/kelly-yukon.jpg" alt="Author Image"></div>
							<ul class="social-icons">
								<li><a href="https://github.com/kellystroh"><i class="ion-social-github-outline"></i></a></li>
								<li><a href="https://www.linkedin.com/in/kelly-stroh"><i class="ion-social-linkedin-outline"></i></a></li>
								<li><a href="https://twitter.com/str0hberry"><i class="ion-social-twitter-outline"></i></a></li>
								<li><a href="https://www.instagram.com/strohb3rry/"><i class="ion-social-instagram-outline"></i></a></li>
								<li><a href="https://www.pinterest.com/strohski3/"><i class="ion-social-pinterest-outline"></i></a></li>
							</ul><!-- right-area -->
						<h4 class="author-name"><b class="light-color">Kelly Stroh</b></h4>
							<p>Hello there, my name is Kelly Stroh. I am a data scientist, an economist, 
								and an environmental scientist. I am also a crafter, a baker, a gardener, 
								and a DIY dabbler. 
							</p>

						<div class="signature-image"><img src="static/images/sig.png" alt="Signature Image"></div>
					</div><!-- about-author -->
				</div><!-- sidebar -->
			</div><!--col-lg-4-->
		</div> <!--row-->
					<!-- <div class="sidebar-section category-area">
						<h4 class="title" id="my_code"><b class="light-color">Code Samples</b></h4>
						<a class="category" href="https://github.com/kellystroh">
								<img src="static/images/github-sidebar.jpg" alt="Category Image">
								<h6 class="name">Main GitHub</h6>
						</a>
						<a class="category" href="https://github.com/kellystroh/Inventory-Image-Classification">
								<img src="static/images/clothes-sidebar.jpg" alt="Category Image">
								<h6 class="name">Inventory Image Classifier</h6>
						</a>
						<a class="category" href="https://github.com/kellystroh/Fraud_Detection_Classifier">
								<img src="static/images/fraud-sidebar.jpg" alt="Category Image">
								<h6 class="name">Fraud Detection Classifier</h6>
						</a>
						<a class="category" href="https://github.com/kellystroh/Congressional_Campaign_Spending">
							<img src="static/images/vote-sidebar.jpg" alt="Category Image">
							<h6 class="name">Campaign Spending Regression</h6>
						</a> -->
					<!-- </div>sidebar-section category-area -->
				<!-- </div> -->
			<!-- </div> -->
			

		</div><!-- row -->
	</div><!-- container -->
</section><!-- section -->


	<footer>
		<div class="container">
			<div class="row">

				<div class="col-sm-6">
					<div class="footer-section">
						<p class="copyright">Juli &copy; 2018. All rights reserved. | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-sm-6">
					<div class="footer-section">
						<ul class="social-icons">
							<li><a href="https://github.com/kellystroh"><i class="ion-social-github-outline"></i></a></li>
							<li><a href="https://www.linkedin.com/in/kelly-stroh"><i class="ion-social-linkedin-outline"></i></a></li>
							<li><a href="https://twitter.com/str0hberry"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="https://www.instagram.com/strohb3rry/"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="https://www.pinterest.com/strohski3/"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="static/js/jquery-3.1.1.min.js"></script>

	<script src="static/js/tether.min.js"></script>

	<script src="static/js/bootstrap.js"></script>

	<script src="static/js/layerslider.js"></script>

	<script src="static/js/scripts.js"></script>

</body>
</html>
