<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Strohberry Fields</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="static/css/bootstrap.css" rel="stylesheet">

	<link href="static/css/ionicons.css" rel="stylesheet">

	<link href="static/css/layerslider.css" rel="stylesheet">


	<link href="static/css/index-styles.css" rel="stylesheet">

	<link href="static/css/index-responsive.css" rel="stylesheet">

</head>
<body>

	<header>
		<div class="middle-menu center-text"><a href="" class="logo"><img src="static/images/strohblog.jpg" alt="Logo Image"></a></div>
		<div class="bottom-area">
			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>
			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="/">HOME</a></li>
				<li><a href="/career">THE PROFESSIONAL</a></li>
				<li><a href="/hobbies">THE ARTISAN</a></li>
				<li><a href="/travel">THE EXPLORER</a></li>
			</ul><!-- main-menu -->
		</div><!-- container -->
	</header>


	<div class="main-slider">
		<div id="slider">

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<img src="static/images/data-unsplash.jpg" class="ls-bg" alt="" />

					<div class="slider-content ls-l" style="top:20%; left:20%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
						<a class="btn" href="/career">CAREER</a>
						<h5 class="title"><b>Data Science</b></h5>
					</div>

			</div><!-- ls-slide -->

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<img src="static/images/ferry-unsplash.jpg" class="ls-bg" alt="" />

			</div><!-- ls-slide -->

		</div><!-- slider -->
	</div><!-- main-slider -->

<!--style="padding: 40px 0 10px;-->

<!--ABOUT AUTHOR -->
<section class="section blog-area">
	<div class="container">
		<div class="row">

			<div class="col-lg-8 col-md-7">
				<div class="blog-posts">
	
							<div class="single-post">
								<div class="image-wrapper"><img src="static/images/welcome6.png" alt="Blog Image"></div>
									
								<!-- <div class="icons">
									<div class="left-area">
										<a class="btn caegory-btn" href="#"><b>TRAVEL</b></a>
									</div>
									<ul class="right-area social-icons">
										<li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
										<li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
										<li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
									</ul>
								</div>
								<p class="date"><em>Monday, October 13, 2017</em></p> -->
								<h3 class="title"><a href=""><b class="light-color">Let's learn something. </b></a></h3>
								<p> My recent transition into the tech industry has made me more grateful than ever for folks who have 
									document and share their learning experiences. Data science is particularly rich in community 
									resources and support. I have come to discover that the best explanations aren't always from the 
									most senior contributors. I want to make a habit of contributing my own perspective while I still 
									vividly recall the experience of being a new coder.  <br>
									The first learning experience worth noting is the making of this website. I am not a web developer,
									so this is likely to be a work in long-term progress. I am currently working on adding a blog,
									which is one of my main motivations for creating this site. In the meantime, I have expanded on
									a number of my interests as a handy excuse to broaden my knowledge of crafting websites. 
									
								</p>
								<!-- <a class="btn read-more-btn" href="#"><b>READ MORE</b></a> -->
							</div><!-- single-post -->
						</div><!-- blog-posts -->
					</div><!-- col-lg-8 -->

			<div class="col-lg-4 col-md-5">
				<div class="sidebar-area">

					<div class="sidebar-section about-author center-text">
						<div class="author-image" id='my-bio'><img src="static/images/kelly-luna.jpg" alt="Author Image"></div>
							<ul class="social-icons">
								<li><a href="https://github.com/kellystroh"><i class="ion-social-github-outline"></i></a></li>
								<li><a href="https://www.linkedin.com/in/kelly-stroh"><i class="ion-social-linkedin-outline"></i></a></li>
								<li><a href="https://twitter.com/str0hberry"><i class="ion-social-twitter-outline"></i></a></li>
								<li><a href="https://www.instagram.com/strohb3rry/"><i class="ion-social-instagram-outline"></i></a></li>
								<li><a href="https://www.pinterest.com/strohski3/"><i class="ion-social-pinterest-outline"></i></a></li>
							</ul><!-- right-area -->
						<h4 class="author-name"><b class="light-color">Kelly Stroh</b></h4>
							<p>Hello there, my name is Kelly Stroh. I am a data scientist, an economist, 
								and an environmental scientist. I am also a crafter, a baker, a gardener, 
								and a DIY dabbler. 
							</p>

<div class="signature-image"><img src="static/images/sig.png" alt="Signature Image"></div>
					</div><!-- about-author -->
				</div><!-- sidebar -->
			</div><!-- col-lg-4 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- section -->

<!-- section -->


	<footer>
		<div class="container">
			<div class="row">

				<div class="col-sm-6">
					<div class="footer-section">
						<p class="copyright">Juli &copy; 2018. All rights reserved. | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-sm-6">
					<div class="footer-section">
						<ul class="social-icons">
							<li><a href="https://github.com/kellystroh"><i class="ion-social-github-outline"></i></a></li>
							<li><a href="https://www.linkedin.com/in/kelly-stroh"><i class="ion-social-linkedin-outline"></i></a></li>
							<li><a href="https://twitter.com/str0hberry"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="https://www.instagram.com/strohb3rry/"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="https://www.pinterest.com/strohski3/"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="static/js/jquery-3.1.1.min.js"></script>

	<script src="static/js/tether.min.js"></script>

	<script src="static/js/bootstrap.js"></script>

	<script src="static/js/layerslider.js"></script>

	<script src="static/js/scripts.js"></script>

</body>
</html>